.App {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  font-weight: bold;
}

.error {
  background-color: #ffebee;
  color: #c62828;
}

.loading {
  background-color: #f5f5f5;
  color: #333;
}
